[Desktop Entry]
Encoding=UTF-8
Name=Link to Twitter sentiment Extaction-Analysis,EDA and Model | Kaggle
Type=Link
URL=https://www.kaggle.com/tanulsingh077/twitter-sentiment-extaction-analysis-eda-and-model
Icon=text-html
